// main.styl
#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
@import "~element-ui/lib/theme-chalk/index.css";
@import "~noty/src/noty.scss";
@import "~noty/src/themes/relax.scss";
@import '~vuetify/dist/vuetify.min.css';
@import '~material-design-icons-iconfont/dist/material-design-icons.scss';
// Fonts

// Variables
@import "variables";

